<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AdoConn" connectionString="Data Source=LAPTOP-7CL8M9V7\SQLEXPRESS;Initial Catalog=netflix;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
		<add name="EFConn" connectionString="Integrated Security=SSPI;Initial Catalog=NetflixCodeFirst;Data Source=LAPTOP-7CL8M9V7\SQLEXPRESS;" providerName="System.Data.SqlClient"/>
		<add name="MongoConn" connectionString="mongodb://localhost:27017"/>
	</connectionStrings>
</configuration>